<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <!-- build:css /css/viewer.min.css -->
    <link href="/node_modules/viewer/dist/crocodoc.viewer.css" rel="stylesheet" type="text/css" />
    <link href="/src/styles/viewer/fullscreen.css" rel="stylesheet" type="text/css" />
    <link href="/src/styles/viewer/viewer.css" rel="stylesheet" type="text/css" />
    <!-- endbuild -->
</head>
<body>
    <div class="container">
        <div class="viewer"></div>
        <div class="controls-container">
            <div class="controls controls-left">
                <a class="logo-btn" href="https://viewify.me"><span class="icon logo"></span></a>
            </div>
            <div class="controls controls-center">
                <button class="scroll-previous-btn"><span class="icon"></span></button>
                <div class="page">
                    <button class="page-display"></button>
                    <input type="text" pattern="\d*" class="page-input"></input>
                </div>
                <button class="scroll-next-btn"><span class="icon"></span></button>
            </div>
            <div class="controls controls-right">
                <button class="zoom-out-btn"><span class="icon"></span></button>
                <button class="zoom-in-btn"><span class="icon"></span></button>
                <button class="fullscreen-btn"><span class="icon"></span></button>
                <a class="download-btn"><span class="icon"></span></a>
            </div>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- build:js /js/viewer.min.js -->
    <script src="/node_modules/viewer/dist/crocodoc.viewer.js"></script>
    <script src="/node_modules/event-source-polyfill/eventsource.js"></script>
    <script src="/src/scripts/viewer/realtime.js"></script>
    <script src="/src/scripts/viewer/fullscreen.js"></script>
    <script src="/src/scripts/viewer/viewer.js"></script>
    <!-- endbuild -->

    <script>
        function parseQueryString() {
            var pairs = location.search.substr(1).split('&'),
                result = {},
                pair, i;
            for (i = 0; i < pairs.length; ++i) {
                pair = pairs[i].split('=');
                result[pair[0]] = decodeURIComponent(pair[1]);
            }
            return result;
        }

        var parsed = parseQueryString();
        var logoBtn = document.querySelector('.logo-btn');
        if (parsed.id) {
            initViewer(parsed.id);
            logoBtn.href += '?ref=viewer&id=' + parsed.id;
        }
        var downloadBtn = document.querySelector('.download-btn');
        if (parsed.url) {
            downloadBtn.href =  parsed.url;
        } else {
            downloadBtn.style.display = 'none';
        }
    </script>
</body>
</html>
