.viewify-overlay {
    z-index: 99999999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    visibility: visible;
    background: rgba(255,255,255,0.75);
    -webkit-transition: opacity 0.5s, visibility 0s;
    transition: opacity 0.5s, visibility 0s;
}

.viewify-overlay-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.viewify-overlay-hidden {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s, visibility 0s linear 0.2s;
    transition: opacity 0.2s, visibility 0s linear 0.2s;
}

.viewify-content, .viewify-status {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}
.viewify-status {
    display: none;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 1.4em;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-position: center 10%;
    background-repeat: no-repeat;
    background-size: auto 25%;
    flex-wrap: wrap;
}

.viewify-status-message,
.viewify-status-link {
    width: 100%;
    padding: 1em;
}

.viewify-close-btn {
    position: absolute;
    width: 11px;
    height: 11px;
    left: 3px;
    top: 5px;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}
.viewify-close-btn:hover {
    opacity: 0.5;
}

.viewify-kill-scrolling {
    overflow:hidden;
}

.viewify-overlay-error .viewify-content,
.viewify-overlay-loading .viewify-content {
    display: none;
}
.viewify-overlay-error .viewify-status,
.viewify-overlay-loading .viewify-status {
    display: flex;
}
