.viewify-overlay {
    z-index: 99999999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    visibility: visible;
    background: rgba(255,255,255,0.8);
    -webkit-transition: opacity 0.5s, visibility 0s;
    transition: opacity 0.5s, visibility 0s;
}

.viewify-overlay-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.viewify-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}

.viewify-overlay-hidden {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s, visibility 0s linear 0.2s;
    transition: opacity 0.2s, visibility 0s linear 0.2s;
}

.viewify-close-btn {
    position: absolute;
    width: 11px;
    height: 11px;
    left: 3px;
    top: 5px;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}
.viewify-close-btn:hover {
    opacity: 0.5;
}

.viewify-kill-scrolling {
    overflow:hidden;
}
